<div id="layout" class="pure-g">

  {{> sidebar }}

  <div class="content pure-u-1 pure-u-md-3-4">
    <div>

      {{> ad }}

      <div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>

        {{> posts }}

      </div>

      {{> post }}

      {{> footer }}
      
    </div>
  </div>
</div>

