            <div class="posts">
                <h1 class="content-subhead">A word from our sponsors</h1>

                <section class="post">
                    <header class="post-header">

                    </header>

                    <div class="post-description">
                        <div class="post-images pure-g">

                            <div id="advertisement" class="pure-u-1 pure-u-md-1-1">
                            </div>
                        </div>
                    </div>
                  
                </section>
            </div>
