<div class="posts">
  <h1 class="content-subhead">Submit Post</h1>

  <form class="pure-form" onsubmit="post()" >
      <fieldset class="pure-group">
          <input id="post-name" class="pure-input-1" readonly value="{{name}}"> 
          <input id="post-title" type="text" class="pure-input-1" placeholder="Title">
          <textarea id="post-text" rows="10" class="pure-input-1"></textarea>
      </fieldset>

      <button type="submit" class="pure-button pure-input-1 pure-button-primary">Submit</button>
  </form>
</div>

