<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hrafn</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<!--[if lte IE 8]>  
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->

<!--[if lte IE 8]>
  <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="css/layouts/blog.css">
<!--<![endif]-->
  
</head>
<body>

  {{{body}}}

  <script src="http://localhost:4999/js/trippleclick.js"></script>
  <script>
    if (typeof trippleclick !== 'undefined') {
      trippleclick.load_ad('advertisement','hrafn');
    }
  </script>
  <script src="http://localhost:4888/js/analytics.js"></script>
  <script>
    if (typeof analytics !== 'undefined') {
      analytics.create('hrafn');
      analytics.event('login', 'click');
    }
  </script>

  <script>
  post = function post() {
    var name  = document.getElementById('post-name').value;
    var title = document.getElementById('post-title').value;
    var text  = document.getElementById('post-text').value  

    var data = '{ "name"  : "' + encodeURIComponent(name) + '",' + 
               '  "title" : "' + encodeURIComponent(title) + '",' +
               '  "text"  : "' + encodeURIComponent(text) + '"}';

      var req = new XMLHttpRequest();
      req.open('POST', '/post');
      req.setRequestHeader("Content-type", "application/json");      
      req.send(data);
      
    return false;
  }
  </script>

</body>
</html>

